@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap&subset=cyrillic-ext');

//-----%FLEX_COLUMN_PARAMS_PATTERN-----------------------------------------------------
%flex-column-params {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//-----WRAPPER-----------------------------------------------------
.wrapper {
  color: var(--tg-theme-text-color);
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  justify-content: center;
  @extend %flex-column-params;
}

//------BUTTONS----------------------------------------------------
._button_container {
  max-width: 50vw;
  margin: 0 auto;
}

._buttons_flex_container {
  width: 45vw;
  justify-content: space-between;
  @extend %flex-column-params;
}

//--------GAME_CONTAINER--------------------------------------------------
._game_container {
  background: var(--tg-theme-bg-color);
  max-width: 90vw;
  width: 90vw;
  height: 70vh;
  border-radius: 1em;
  border: solid black;
  justify-content: center;
  @extend %flex-column-params;
}
