@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap&subset=cyrillic-ext');

._button_container {
  max-width: 50vw;
  margin: 0 auto;
  text-align: center;
}

._game_container {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

._buttons_flex_container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.wrapper {
  color: var(--tg-theme-text-color);
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}